.weather-card--container {
    background-color: #FBED78;
    border-radius: 4px;
    width: 300px;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    color: #424242;
    line-height: 1.1em;
}

.weather-card--city-name {
    font-size: 25px;
    font-weight: 300;    
}

.weather-card--day-night {
    font-weight: lighter;
    font-size: 15px;
}

.weather-card--temp {
    font-size: 73px;  
    font-weight: 700;
    margin: 0;
    padding: 0;
}    

.sun-moon {
    width: 70px;
    padding: 0;
    margin-right: 50px; 
    margin-bottom: 10px;   
}

.weather-card--sunsvg-and-temp {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
