@font-face {
    src: url('./font/Camphor-W01-Light.eot?#iefix') format('embedded-opentype'),
    url('./font/Camphor-W01-Light.woff') format('woff'),
    url('./font/Camphor-W01-Light.ttf') format('truetype'),
    url('./font/CamphorW01-Light.svg#FontName') format('svg');
}

.view-port {
    margin: 0;
}

.card-container {
    align-items: center;
    background-color: #8898aa;
    background-color: rgba(136, 152, 170, 0.1);
    display: flex;
    font-family: 'Camphor-Light', 'Arial', sans-serif;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.card {
    align-items: center;
    display: flex ;
    flex-direction: column;
    padding: 48px 32px;
    width: 300px;
}

.card:not(:last-child) {
    margin-right: 30px;
}

.card-icon {
    align-items: center;
    margin-bottom: 20px;
    width: 64px;
}

.card--heading {
    color: #32373c;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.card-description {
    color: #000000; /* Lint fallback color */
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    text-align: center;
}
