.code-challenge_view-port {
    background-color: #202020;
    margin: 0;  
}

.font-lato {
    font-family: 'Lato';
    font-weight: 200;
    line-height: 1.5;
}

.code-challenge_top-bar {
    align-items: center;
    background-color: #181818;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    height: 64px;
    justify-content: center;
    position: fixed;
    width: 100%;
}


/* ----- FOLD ----- */

.code-challenge_fold {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px; 
}

.code-challenge_fold-content-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    
}

.code-challenge_fold-content {
    box-sizing: border-box; /* csslint allow: box-sizing */
    color: #ffffff;
    padding-right: 16px;
}

.code-challenge_fold-content-title {
    align-self: flex-start;
    font-size: 40px;
    margin: 0;
    margin-bottom: 48px;
    text-align: left;
}

.code-challenge_fold-question-container {
    margin-bottom: 100px;
}

.code-challenge_fold-question {
	font-size: 24px;
    margin: 0;
    margin-bottom: 24px;
    text-align: left;
}

.code-challenge_fold-link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.fold-link--green {
    color: #b8e986;
    margin-right: 32px;
}


/* ----- GAMER SECTION ----- */

.code-challenge_gamer-section {
    margin: 100px auto;
    max-width: 980px;
}
.profile-cards-container {
    align-items: center;
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    position: relative;
}

.profile-card {
    align-items: center;
    background-color: #181818;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 260px;
}

.profile-card:hover {
    background-color: #181818;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    margin-top: 2.8px;
}

.profile-card:hover .profile-card-project-list {
    display: flex;
}

.profile-card:not(:last-child) {
    margin-right: 24px;
}

.profile-card-img {
    border-radius: 2px 2px 0 0;
    height: 180px;
    width: 260px;
}

.profile-card-name {
    color: #b8e986;
    font-size: 18px;
    font-weight: 300;
    height: 22px;
    margin-bottom: 8px;
    margin-top: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 228px;
}

.profile-card-email {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 24px;
    text-align: center;
    text-decoration: none;
}

.profile-card-project-list {
    display: flex;
    flex-direction: column;
}

.profile-card-project-list {
    display: none;
}

.profile-card-projects-title {
    color: #b8e986;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
}

.profile-card-projects:not(:last-child) {
    margin-bottom: 4px;
}

.profile-card-projects:last-child {
    margin-bottom: 30px;
}
.profile-card-projects {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
