@font-face {
    font-family: 'Camphor-Medium';
    src: url('/font/camphor-medium/camphor-w01-medium.eot?#iefix') format('embedded-opentype'),
    url('/font/camphor-medium/camphor-w01-medium.woff') format('woff'),
    url('/font/camphor-medium/camphor-w01-medium.ttf') format('truetype'),
    url('/font/camphor-medium/camphor-w01-medium.svg#FontName') format('svg');
}

.container {
    align-items: center;
    background-color: #fafafa;
    display: flex;
    font-family: Camphor-Medium, sans-serif;
    height: 100vh;
    justify-content: center;
}

.lang_picker {
    background-color: #fafafa;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px 12px 24px;
}

.lang_picker_selected {
    display: flex;
}

.lang_picker_unselected {
    display: flex;
}

.lang_picker_us_flag {
    height: 24px;
    margin: 0 16px 8px 0;
    width: 24px;
}

.lang_picker_language {
    color: #2196f3;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.33;
    margin: 0 19px 0 0;
}

.lang_picker_selection {
    height: 20px;
    width: 20px;
}

.lang_picker_spain_flag {
    height: 24px;
    margin: 0 16px 0 0;
    width: 24px;
}

.lang_picker--black {
    color: #000000;
    color: rgba(0, 0, 0, 0.87);
}

.lang_picker--black .lang_picker_language {
    color: #000000;
    color: rgba(0, 0, 0, 0.87);
}

