body {
    align-items: center;
    display: flex;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.tooltip {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 1px rgb(116, 116, 116);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.479);
    height: 190px;
    max-width: 960px;
    position: relative;
}

.tooltip::before {
    background-color: #ffffff;
    bottom: -12px;
    content: '';
    height: 24px;
    left: 100px;
    position: absolute;
    transform: rotate(45deg);
    width: 24px;
}

.tooltip::after {
    bottom: -12px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.479);
    content: '';
    height: 24px;
    left: 100px;
    position: absolute;
    transform: rotate(45deg);
    width: 24px;
    z-index: -1;
}

.tooltip_title-bar {
    align-items: center;
    background-color: #c23934;
    border-radius: 4px 4px 0 0;
    display: flex;
    max-height: 56px;
    max-width: 960px;
    padding: 16px 24px;
}

.tooltip_title-bar-tittle {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    position: relative;
    right: -16px;
    width: 100%;
}

.tooltip_title-bar-icon {
    height: 24px;
    width: 24px;
}

.tooltip_message-container {
    border-radius: 0 0 4px 4px;
    padding: 16px 24px;
}

.tooltip_message-content {
    color: rgb(102, 101, 101);
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 300;
    height: 100px;
    line-height: 1.5;
    margin: 0;
    overflow: auto;
    text-align: left;
}
