.container {
    text-align: center;
}

.title {
    font-family: Monoton, Arial, sans-serif;
    font-size: 70px;
    margin: 0.2em;
}

.grid-title {
    margin: 1em 0 0.25em;
}

.grid-title:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

.input[type=number] {
    width: 6em;
}
