@media (max-width: 600px) {
    
    body {
        padding: 48px 16px;     
    }

    .starters-step-1-dashboard-hero-background-image-hero{
        background-image: url(img/graphic.svg);
        background-position: center;
        background-size: cover;
        border-radius: 4px 4px 0 0;
        height: 172px;
    }

    .starters-step-1-dashboard-hero-footer-container{
        padding: 0 16px 16px 16px;
    }

    .starters-step-1-dashboard-hero-user-photo {
        height: 56px;
        top: -28px;
        width: 56px;
    }

    .starters-step-1-dashboard-hero-info-user {
        padding-left: 72px;
        padding-top: 8px;
    }
    
    .starters-step-1-dashboard-hero-title {
        font-size: 16px;
    }
    
    .starters-step-1-dashboard-hero-subtitle {
        font-size: 12px;
        margin-top: 0;
    }
}