/* ----- GENERAL ----- */

body {
    background-color: #8898aa1a;
    background-color: rgba(136, 152, 170, 0.10);
    padding: 48px 10%;
    text-rendering: optimizeLegibility;
}

.starters-step-1-dashboard-hero-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 0 #00000026;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
    font-family: 'Camphor', 'Arial', sans-serif;
}


/* ----- DASHBOARDHERO COMPOPNENT ----- */

/* - BACKGROUND IMAGE - */
.starters-step-1-dashboard-hero-background-image-hero {
    background-image: url(img/graphic.svg);
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    height: 300px;
}

/* - FOOTER - */
.starters-step-1-dashboard-hero-footer-container {
    padding: 0 24px 24px 24px;
    position: relative;
}

.starters-step-1-dashboard-hero-user-photo {
    border-radius: 50%;
    box-shadow: 0 2px 4px  #00000061;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.38);
    height: 96px;
    position: absolute;
    top: -48px;
    width: 96px; 
}

.starters-step-1-dashboard-hero-info-user{
    padding-left: 120px;
    padding-top: 16px;
}

.starters-step-1-dashboard-hero-title {
    color: #2196F3;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.starters-step-1-dashboard-hero-subtitle {
    color: #00000061;
    color: rgba(0, 0, 0, 0.38);
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    margin-top: 4px; 
}
