/*
Primary color: orange #e67e22
*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;    
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
    margin: 0 auto;
    width: 1140px;
}

section {
    padding: 80px 0;
}

.box {
    box-sizing: border-box; /* csslint allow: box-sizing */
    padding: 1%; 
}

/* ----- ICONS ----- */
.icon-big {
    color: #e67e22;
    display: block;
    font-size: 350%;
    margin-bottom: 10px;
}

/* ----- HEADINGS ----- */
.title {
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-spacing: 4px;   
}

.line-end {
   margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;  
    word-spacing: 2px;   
}

h2:after {
    background-color: #e67e22;
    content: " ";
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-transform: uppercase;
}
/* ----- PARAGRSPHS ----- */
.long-copy {
    line-height: 1.5;
    margin-left: 15%;
    width: 70%;  
}

.box p {
    font-size: 90%;
    line-height: 1.5;
}

/* ----- BUTTONS ----- */
.button:link,
.button:visited {
    border-radius: 200px;
    display: inline-block;
   font-weight: 300;
   padding: 10px 30px;
   text-decoration: none;
   transition: background-color 0.4s, border 0.4s, color 0.4s;   
}

.button-full:link,
.button-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
 
.button-ghost:link,
.button-ghost:visited  {
    border: 1px solid #e67e22;
    color: #e67e22 ;
}

.button:hover,
.button:active {
    background-color: #cf6d17;
}

.button-full:hover,
.button-full:active {
    border: 1px solid #cf6d17;
}
 
.button-ghost:hover,
.button-ghost:active  {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
}

/* ----- NAVIGATION ----- */
.logo {
    float: left;
    height: 100px;
    margin-top: 20px;
    width: auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    color: #fff;
    font-size: 90%;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-bottom 0.6s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ----------------------------------------------- */
/* MEALS */
/* ----------------------------------------------- */

.meals-showcase {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

.meal-photo {
    margin: 0;
    width: 100%;
}

.meal-photo img {
    height: auto;
    width: 100%;
}

.section-proof {
    background: #00000026;
    background: rgba(0, 0, 0, 0.15);
    height: 200px;
    margin-top: 800px;
    width: 100%;
}

.proof {
    background-color: #ffffff;
    border-radius: 2px;
    clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%);
    display: inline-block;
    height: 36px;
    margin-left: 50px;
    width: 156px;
}

.proof2 {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 20px 20px 40px  rgba(0, 0, 0, 0.15);
    clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 15% 50%);
    display: inline-block;
    height: 36px;
    margin-left: -22px;
    width: 156px;
}

.text {
    padding-left: 10px; 
}