body {
    background-color: #3b6290;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 16px;
}

main {
    background-color: white;
    border: 8px solid #2b517e;
    margin: 20px auto;
    max-width: 600px;
}

header {
    border-bottom: 1px;
    border-bottom-color: #dcdddf;
    border-bottom-style: solid;
    display: flex;
    flex-wrap: wrap;
}

.circle {
    align-items: center;
    background-color: #3b6290;
    border-radius: 30px;
    color: whitesmoke;
    display: inline-flex;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    width: 30px;  
}

header span {
    color: #3b6290;
    margin-left: 10px;
}

header > div {
    display: inline;
}

.details-circle {
    margin-left: 35px;
    padding: 35px 0;
}

div.details-circle > div {
    background-color: #B6B6B6;
}

.circle-account-details-color-text {
    color: #B6B6B6;
}

/*Form form here*/

form {
    color: #818181;
    padding: 35px 35px 35px 35px;
    
}

input {
    border: 3px;
    border-color: #dddddd;
    border-radius: 3px;
    border-style: solid;
    box-sizing: border-box; /* csslint allow: box-sizing */
    font-size: 16px;
    margin-top: 10px;
    padding: 12px;
    width: 100%;
}

.last-name, .password-confirm, .password, .first-name {
    display: inline-block;
    margin-top: 35px;
    width: 47%;    
}

.task3-input-first-name, .task3-input-password, .task3-input-password-confirm, .task3-input-last-name, label {
    width: 100%;
}

.last-name, .password-confirm {
    float: left; 
}

.password, .first-name {
    float: right; 
}

.button {
    background-color: #f5cb2d;
    border: 2px solid #DBB733;
    border-radius: 3px;
    color: #877634;
    display: inline-block;
    font: 600 16px Verdana;
    letter-spacing: normal;
    margin: 0;
    margin-top: 35px;
    text-align: center;
    text-indent: 0;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal; 
}