/* ----- GENERAL ----- */

body {
    font-family: 'Camphor', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}


/* ----- HOME NAUTA ----- */

.starters-step-1-home-nauta-background-image {
    background-image: url(img/nauta_home.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
}

.starters-step-1-home-nauta-header {
    color: #fff;
    display: flex;
    height: 64px;
    justify-content: space-between;
    width: 100%;
}

.starters-step-1-home-nauta-main-content-container {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    letter-spacing: 1px;
    width: 100%;
}

.starters-step-1-home-nauta-text-container {
    width: 100%;
   
}

.starters-step-1-home-nauta-footer-container {
    align-self: flex-end;
    padding-bottom: 100px;
    width: 100%;
}

/* - TEXTS - */

.starters-step-1-home-nauta-text-title {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    text-align: left;
}

.starters-step-1-home-nauta-text-slogan {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

.starters-step-1-home-nauta-footer-question {
    color: #fff;
    font-size: 18px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}


/* - BUTTONS - */

.starters-step-1-home-nauta-footer-button {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 6px, rgba(0, 0, 0, 0.15) 0 1px 4px;
    color: #2196f3;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin: 0;
    min-width: 110px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.starters-step-1-home-nauta-footer-button :hover {
    background-color:  #D3EAFD;
    background-color:  rgba(33, 150, 243, 0.20);
}

.starters-step-1-home-nauta-footer-button:last-child {
    background-color: #2196f3;
    color: #fff;
    margin-left: 16px;
}

.starters-step-1-home-nauta-footer-button:last-child :hover {
    background-color: rgba(255, 255, 255, 0.25); /* csslint allow: fallback-colors */
}

.starters-step-1-home-nauta-footer-button:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0  3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

.starters-step-1-home-nauta-footer-button-hover {
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box; /* csslint allow: box-sizing */
    padding: 0 16px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}


/*BUTTON TRANSITION*/
.starters-step-1-home-nauta-footer-button-hover:after {
    background-color:  #D3EAFD;
    background-color: rgba(33, 150, 243, 0.25);
    border-radius: 0 0 0 0;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    padding-bottom: 40px;
    padding-left: 100%;
    position: absolute;
    transition: all 0.6s;
}

.starters-step-1-home-nauta-footer-button:last-child :after {
    background-color: rgba(255, 255, 255, 0.25); /* csslint allow: fallback-colors */
}

.starters-step-1-home-nauta-footer-button-hover:active:after {
    margin: 0;
    opacity: 1;
    padding: 0;
    padding-left: 100%;
    transition: 0s;
}
