/* ----- GENERAL ----- */

body {
    font-family: 'Camphor', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.starters-step-1-not-found-background-image {
    background-image: url(img/not-found.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
}

.starters-step-1-not-found-header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    width: 100%;
}

.starters-step-1-not-found-footer-container {
    align-self: flex-end;
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starters-step-1-not-found-primary-text {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.7);
}

.starters-step-1-not-found-secondary-text {
    margin: 0;
    font-weight: 100;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 4px;
}

.starters-step-1-not-found-link-home {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}
