@font-face {
    font-family: 'HelveticaNeueCE35Thin';
    src: url('Helvetica Neue CE 35 Thin.ttf');
}

* {margin: 0px;}

body {
    font-family: HelveticaNeueCE35Thin;
}

.headweb {
    background-color: #447CA2;
    height: 102px;
    margin-top: 57px;    
}

.main-area {
    overflow: auto;
    padding-bottom: 50px;
}

.title {
    font-size: 102px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 53px;
    padding-top: 7px;
    position: absolute;
}

.color-border {
    border: 2pt;
    border-style: solid;
    border-color: #D0CCCC;
}

.search-icon {
    padding: 6px 5px;
    width: 15px;
    height: 15px;
}

.search-container {
    width: 24px;
    height: 27px;
    float: left;
    position: relative;
}

.people-search {
    margin-top: 28px;
    margin-left: 53px;
}

.search {
    width: 213px;
    height: 32.33px;
    padding: 1px 1px 1px 2px;
    float: left;
    position: relative;
    font-family: HelveticaNeueCE35Thin;
    font-size: 18pt;
    color: #DFDFDF;
}
.my-button-search {
    position: relative;
    float: left;
    height: 32.33px;
    width: 78px;
    background-color: #447CA2;
    font-family: HelveticaNeueCE35Thin;
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    border: 0px;
    padding: 0px 0px 0px 4px;
    margin: 0px 0px 0px 2px;
    cursor: pointer;
}

.blue-selector {
    -webkit-appearance: checkbox;
}

.checkbox-container {
    position: relative;
    clear: left;
    top: 5px;
}

.checkbox-text {
    background-color: #D0CCCC;
    width: 78px;
    height: 20px;
    padding:  2px 3px 2px 2px;
    color: #FFFFFF;
    font-size: 18px;
}

.perfil {
    background-color: rgb(223, 223, 223);
    position: relative;
    float: left;
    width: 321px;
    height: 425px;
    margin: 28px 53px 0px 53px;
    box-shadow: rgb(68, 124, 162) -5px 5px; 
}

.intranet-button {
    -webkit-appearance: none;
    border: 0px;
    padding: 0px;
    margin-left: 43px;
    position: relative;
    float: left;
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

.boton-in{
    margin-left: 96px;
}

button:hover{
    transform: scale(1.4,1.4);
    transition: transform .3s;
}

.imagen-perfil {
    float: right;
    border: 4px;
    border-color: #447CA2;
    border-style: solid;
    width: 101px;
    height: 101px;
}

.texto-depart {
    color: #447CA2;
    font-size: 21px;
    margin-top: 106px;
    margin-left: 43px;
}

.texto-name-lastname {
    color: #447CA2;

    font-size: 21px;
    margin-top: 35px;
    margin-left: 43px;
}

.mail-icon {
    width: 40px;
    height: 45px;
}

.linkedin-icon {
    width: 35px;
    height: 45px;
}

.email {
    color: #848484;
    font-size: 14px;
    margin-top: 53px;
    margin-left: 43px;
}

.phone {
    color: #848484;
    font-size: 14px;
    margin-top: 21px;
    margin-left: 43px;
    margin-bottom: 43px;
}

.arrow {
    position: relative;
    float: left;
    margin-top: 220px;
    margin-right: 32px;
}

.perfil2 {
    margin-left: 0px;
}

.perfil3 {
    margin-left: 0px;
    margin-right: 32px;
}

.arrow:hover {
    cursor: pointer;
    transform: scale(1.4,1.4);
    transition: transform .3s;
}
