body {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.877);
    font-family: sans-serif;
    margin: 0;
}

.home-download--main-area {
	background-color: #FFA600;
	height: 75vh;
}

.home-download--download-link {
    border-bottom: 5px solid #ffffff; 
    border-bottom: 5px solid rgba(255, 255, 255, 0.692);
    color: #ffffff;
    color: rgba(255, 255, 255, 0.877);
    display: inline-block;
    font-size: 48px;
    line-height: 1;
    text-decoration: none;
}

.home-download--cover-book {
	margin: 8% 0 0 8%;
	position: absolute;
	width: 310px;
}

.home-download--download-text {
    display: inline;
}

.home-download--download-link-container {
	display: inline-block;
    font-size: 25px;
    line-height: 1.5;
	margin: 16% 0 0 38%;
	position: absolute;
}

.home-download--preface {
    margin-top: 40px;
}

.home-download--preface p {
    margin: 0;
}