body {
    background-color: #9c27B0;
}

.click-me-button {
    background-color: #B71C1C;
    border: 3px solid #941717;
    border-radius: 5px;
    color: #FDF3E1;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 20vh auto;
    min-height: 40px;
    min-width: 150px;
}
